---
import Base from "@/layouts/Base.astro";
---

<Base>
  <main class="flex flex-col gap-8">
    <section class="pt-8">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-12 md:col-12">
            <p class="">Hello! I'm Atip.</p>
            <h2 class="flex flex-col gap-4">
              <span class="flex gap-2">
                I'm <p class="text-red-500">Developer/Programmer</p><br />
              </span>
              <span class="flex gap-2">
                Can Create Any <p class="text-blue-600">Digital Product</p>
                And Integrate <p class="text-blue-600">Technology</p>
              </span>
            </h2>
          </div>
        </div>
      </div>
    </section>

    <section class="transition ease-in-out delay-150">
      <div class="container text-[1.2rem]">
        <div class="border-t border-gray-300 my-4"></div>

        <h1 class="flex justify-start">About Me</h1>

        <div class="row justify-center">
          <div class="lg:col-8 md:col-12">
            <div>
              <div class="row justify-center">
                <p>
                  &emsp; My name is <strong>Atip Nasakul</strong>, and I'm 23
                  years old. I'm currently working as a <strong
                    >fullstack developer</strong
                  > with a strong interest in combining various technologies to create
                  cohesive solutions.
                </p>
                <br />
                <p>
                  I am passionate about <strong>finance</strong>, <strong
                    >startups</strong
                  >, <strong>technology</strong>, and building <strong
                    >software or web applications</strong
                  >.
                </p>
                <br />

                <p>
                  &emsp; My skills include building <strong
                    >desktop applications</strong
                  > and <strong>web applications</strong> with <strong
                    >server-side integration</strong
                  >. I’ve worked on several personal projects and have
                  experience in <strong>development</strong>, and <strong
                    >domain registration</strong
                  >.
                </p>
                <br />
                <p>
                  &emsp; I am also exploring the workings of <em>Web 3.0</em> and
                  <em>blockchain technology</em> to stay ahead of the curve in the
                  evolving tech landscape.
                </p>
              </div>
            </div>
          </div>
          <div class="lg:col-4 md:col-12">
            <p><strong> Current Studies </strong></p>
            <p><strong>Server-side technologies</strong></p>
            <p><strong>Blockchain technology</strong></p>
            <p>
              <strong>English</strong> (Improving language skills for better communication)
            </p>
            <p><strong>AI technology (RAG)</strong></p>
            <p><strong>design patterns</strong></p>

            <p>
              <strong>Go</strong> and <strong>Rust</strong> (Exploring these modern
              programming languages)
            </p>
          </div>
        </div>
        <div class="border-t border-gray-300 my-4"></div>
        <div class="mt-4">
          <h5>Get My Resume</h5>
          <div class="mt-4 flex gap-4">
            <a
              href="/resume_atip_nasakun_software_engineer_en.pdf"
              download
              class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
            >
              English Version
            </a>
            <a
              href="/resume_atip_nasakun_software_engineer_th.pdf"
              download
              class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700"
            >
              Thailand Version
            </a>
          </div>
        </div>
        <div class="border-t border-gray-300 my-4"></div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-12 md:col-12 mb-8">
            <h1 class="mb-4">Skills</h1>
            <div class="flex flex-col gap-6">
              <h6>Main Skills</h6>
              <div class="row">
                <div class="lg:col-4 md:col-4 flex items-center gap-2">
                  <div
                    class="border-slate-400 border rounded-lg p-4 flex flex-col gap-4 w-full h-full"
                  >
                    <h5>Frontend Vue/Nuxt</h5>
                    <div class="flex justify-between p-4 pt-0">
                      <img
                        src="https://static-00.iconduck.com/assets.00/vue-icon-512x442-j09z7tua.png"
                        alt="Vue"
                        width="100"
                        class="icon"
                      />
                      <span class="text-[4rem] font-bold text-green-700">
                        3 Year</span
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-4 md:col-4 flex items-center gap-2">
                  <div
                    class="border-slate-400 border rounded-lg p-4 flex flex-col gap-4 w-full h-full"
                  >
                    <h5>Backend/Script Js/Ts</h5>
                    <div class="flex justify-between p-4 pt-0">
                      <img
                        src="https://cdn-icons-png.flaticon.com/512/5968/5968381.png"
                        alt="Vue"
                        width="100"
                        class="icon"
                      />
                      <span class="text-[4rem] font-bold text-blue-600">
                        3 Year</span
                      >
                    </div>
                  </div>
                </div>
                <div class="lg:col-4 md:col-4 flex items-center gap-2">
                  <div
                    class="border-slate-400 border rounded-lg p-4 flex flex-col gap-4 w-full h-full"
                  >
                    <h5>Backend C# ASP.NET</h5>
                    <div class="flex justify-between p-4 pt-0">
                      <img
                        src="https://static-00.iconduck.com/assets.00/c-sharp-c-icon-912x1024-j3yidw37.png"
                        alt="Vue"
                        width="100"
                        class="icon"
                      />
                      <span class="text-[4rem] font-bold text-purple-800">
                        1 Year</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="flex flex-col gap-2">
                <h6>Additional Skills</h6>
                <div class="row">
                  <div class="lg:col-3 md:col-3 flex flex-col gap-4">
                    <div>
                      <p class="text-md font-bold">Frontend</p>
                      <div class="flex flex-col gap-2">
                        <div class="flex items-center gap-2">
                          <img
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1200px-React-icon.svg.png"
                            alt="React"
                            width="50"
                            class="icon"
                          />
                          <span>React / Remix / Next</span>
                        </div>
                        <div class="flex items-center gap-2">
                          <img
                            src="https://cdn.iconscout.com/icon/free/png-256/free-angular-logo-icon-download-in-svg-png-gif-file-formats--brand-development-tools-pack-logos-icons-226066.png?f=webp&w=256"
                            alt="Angular"
                            width="50"
                            class="icon"
                          />
                          <span>Angular</span>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p class="text-md font-bold">Backend</p>
                      <div class="flex flex-col gap-2">
                        <div class="flex items-center gap-2">
                          <img
                            width="50"
                            src="https://static-00.iconduck.com/assets.00/nestjs-icon-512x510-9nvpcyc3.png"
                            alt="NestJS"
                            class="icon"
                          />
                          <span>NestJS / ExpressJS</span>
                        </div>
                        <div class="flex items-center gap-2">
                          <img
                            width="50"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Go_Logo_Blue.svg/1200px-Go_Logo_Blue.svg.png"
                            alt="Go"
                            class="icon"
                          />
                          <span>Go Fiber/Echo</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="lg:col-3 md:col-3">
                    <p class="text-md font-bold">Database</p>
                    <div>
                      <div class="flex items-center gap-2">
                        <img
                          src="https://img.icons8.com/?size=512&id=laYYF3dV0Iew&format=png"
                          alt="SQL Server"
                          width="50"
                          class="icon"
                        />
                        <span>SQL Server</span>
                      </div>
                      <div class="flex items-center gap-2">
                        <img
                          src="https://www.pngplay.com/wp-content/uploads/7/Mysql-Logo-No-Background.png"
                          alt="MySQL"
                          width="50"
                          class="icon"
                        />
                        <span>MySQL</span>
                      </div>
                      <div class="flex items-center gap-2">
                        <img
                          src="https://cdn.icon-icons.com/icons2/2415/PNG/512/mongodb_plain_wordmark_logo_icon_146423.png"
                          alt="MongoDB"
                          width="50"
                          class="icon"
                        />
                        <span>MongoDB</span>
                      </div>
                      <div class="flex items-center gap-2">
                        <img
                          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/993px-Postgresql_elephant.svg.png"
                          alt="PostgreSQL"
                          width="50"
                          class="icon"
                        />
                        <span>PostgreSQL</span>
                      </div>
                    </div>
                  </div>

                  <div class="lg:col-6 md:col-6">
                    <p class="text-md font-bold">Other</p>
                    <div class="flex gap-2">
                      <div>
                        <div class="flex items-center gap-2">
                          <img
                            src="https://img.icons8.com/color/512/arduino.png"
                            alt="arduino"
                            width="50"
                            class="icon"
                          />
                          <span>IOT (Arduino)</span>
                        </div>
                        <div class="flex items-center gap-2">
                          <img
                            src=" https://static-00.iconduck.com/assets.00/nginx-icon-444x512-0meva297.png"
                            alt="Nginx"
                            width="50"
                            class="icon"
                          />
                          <span>Nginx</span>
                        </div>
                        <div class="flex items-center gap-2">
                          <img
                            src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/97_Docker_logo_logos-512.png"
                            alt="Docker"
                            width="50"
                            class="icon"
                          />
                          <span>Docker (Compose)</span>
                        </div>
                        <div class="flex items-center gap-2">
                          <img
                            src="https://cdn-icons-png.flaticon.com/512/8242/8242994.png"
                            alt="C# GUI"
                            width="50"
                            class="icon"
                          />
                          <span>Desktop Application C# GUI</span>
                        </div>
                      </div>
                      <div>
                        <div class="flex items-center gap-2">
                          <img
                            src=" https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Amazon_Web_Services_Logo.svg/800px-Amazon_Web_Services_Logo.svg.png"
                            alt="VPS Cloud Computer"
                            width="50"
                            class="icon"
                          />
                          <span>VPS Cloud Computer(EC2/Digital Ocean)</span>
                        </div>
                        <div class="flex items-center gap-2">
                          <img
                            src="https://pngimg.com/uploads/linux/linux_PNG1.png"
                            alt="arduino"
                            width="50"
                            class="icon"
                          />
                          <span>Basic Linux</span>
                        </div>
                        <div class="flex items-center gap-2">
                          <img
                            src="https://images.vexels.com/content/205567/preview/website-www-cursor-icon-stroke-3fa07d.png"
                            alt="arduino"
                            width="50"
                            class="icon"
                          />
                          <span>Http/Web Socket / p2p</span>
                        </div>
                        <div class="flex items-center gap-2">
                          <img
                            src="https://cdn-icons-png.flaticon.com/512/6822/6822231.png"
                            alt="arduino"
                            width="50"
                            class="icon"
                          />
                          <span>Basic Deployment</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-300 my-4"></div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-12 md:col-12 mb-8">
            <h2>My Favorite Project</h2>
            <div class="container my-4">
              <div class="row gap-4">
                <div
                  class="col-12 border border-slate-400 rounded-lg p-4 flex flex-col gap-4"
                >
                  <h5><strong>BadBoyz (Rackoo)</strong></h5>
                  <div class="flex gap-8">
                    <div class="card-image">
                      <img src="/images/rackoo.png" alt="project" width="600" />
                    </div>
                    <div class="text-[1.2rem]">
                      <p>
                        <strong>Badboy</strong> is a project designed for pairing
                        players in badminton games, with support for multiple courts.
                        It was originally created for use among friends during badminton
                        sessions. Currently, there are plans to rebrand the app as
                        <em>Rackoo</em> to enhance mobile compatibility.
                      </p>
                      <p>
                        The app is built using Vue, Express, and MongoDB, with
                        potential future plans to transition to Go as the
                        backend.
                      </p>
                    </div>
                  </div>
                  <div class="flex justify-end gap-2">
                    <a
                      class="btn btn-primary my-4"
                      href="https://badminton.atipnasakun.online/room/659bbdf2e21783acc96e76ab"
                      >Application</a
                    >
                    <a
                      href="https://github.com/atippaz/pwa-badboyz"
                      class="btn btn-primary my-4">Repository</a
                    >
                  </div>
                </div>

                <div
                  class="col-12 border border-slate-400 rounded-lg p-4 flex flex-col gap-4"
                >
                  <h5><strong>32Controller x TicTacToe Game</strong></h5>
                  <div class="flex gap-8">
                    <div class="card-image">
                      <img
                        src="/images/32controller.jpg"
                        alt="project"
                        width="800"
                      />
                    </div>
                    <div class="text-[1.2rem]">
                      <p>
                        The <strong>32Controller x TicTacToe Game</strong> is a project
                        that integrates various technologies, combining IoT and web
                        applications. The IoT device, an Arduino-based 32 controller,
                        is used to control the TicTacToe game.
                      </p>
                      <p>
                        The technologies involved include <em
                          >Arduino, C, MQTT protocol, Socket, Vue, Express,
                          Nginx, Docker, HTTPS</em
                        >, and a custom domain. After completing the program, I
                        set up a personal VPS and deployed the application,
                        using Nginx and Docker for the deployment. The server
                        was also configured with HTTPS for security, and reverse
                        proxy was implemented for improved traffic handling.
                      </p>
                    </div>
                  </div>
                  <div class="flex justify-end gap-2">
                    <a
                      href="https://github.com/atippaz/32-game-controller"
                      class="btn btn-primary my-4">Repository</a
                    >
                  </div>
                </div>

                <div
                  class="col-12 border border-slate-400 rounded-lg p-4 flex flex-col gap-4"
                >
                  <h5><strong>BomberMan</strong></h5>
                  <div class="flex gap-8">
                    <div class="card-image">
                      <img
                        height="100"
                        width="500"
                        src="https://github.com/atippaz/bomberman-v2/blob/master/client/src/asset/images/player/Player_idle.gif?raw=true"
                        alt="project"
                      />
                    </div>
                    <div class="text-[1.2rem]">
                      <p>
                        <strong>Bomberman</strong> is a game development project
                        using C# and Windows Forms GUI, created without a game engine.
                        It focused on practicing object-oriented programming (OOP)
                        and game design.
                      </p>
                      <p>
                        The game was developed in collaboration with two
                        friends—one of them designed and created the UI for the
                        game windows, while I handled the core game logic and
                        controls. The technology stack used includes C# and the
                        .NET Framework. There are plans to expand the game for
                        the web, utilizing <em>Vue</em> and <em>Pixi</em> for the
                        web-based version.
                      </p>
                    </div>
                  </div>
                  <div class="flex justify-end gap-2">
                    <a
                      href="https://github.com/atippaz/BomberMan"
                      class="btn btn-primary my-4">Repository</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-300 my-4"></div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-12 md:col-12 mb-8">
            <h1 class="flex justify-start">Exprerience / Activity</h1>
            <div class="row">
              <div class="lg:col-12 md:col-12">
                <h6 class="my-4">
                  Hackatain By Devmountaintechfestival #second prize
                </h6>
                <img
                  src="https://scontent.fbkk22-6.fna.fbcdn.net/v/t39.30808-6/313216610_140112475441737_7285797481538665011_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_eui2=AeH0j1PNe17JtF0XlnuSUD2oZC9IMgON5MhkL0gyA43kyLhrxpFFtBybVmrKL02c-ehbQch1Lij4mnZ54f-BDldW&_nc_ohc=Yy-7mKJLb9MQ7kNvgG87lqJ&_nc_zt=23&_nc_ht=scontent.fbkk22-6.fna&_nc_gid=AZFPJ4eyRnHmjdxpbuyIa6O&oh=00_AYAhIThxclKFr0NW1np0U7Pj4MWJ1h_R_EE2zetKWVm-9w&oe=673A8B96"
                  alt="hackatrain"
                />
                <p class="text-[1.2rem] my-4">
                  I participated in a Hackathon event-a unique competition held
                  on a train to Chiang Mai, where participants developed
                  applications and pitched their projects. I won the second
                  prize with my team, and our challenge was to build a chat
                  application that could handle a high level of concurrency. We
                  built the app using Vue and Socket.IO, aiming for efficient
                  real-time communication and scalability.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-300 my-4"></div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-12 md:col-12 mb-8">
            <h2>Consult And Share Knowledge</h2>
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <!-- https://badminton.atipnasakun.online/room/659bbdf2e21783acc96e76ab -->
                  <div>
                    <div class="flex items-center gap-8">
                      <img
                        src="https://kaset-more.vercel.app/assets/box-0LO2_feo.png"
                        alt="project"
                        width="100"
                      />
                      <p class="text-[1.2rem] my-2">
                        I have experience helping friends and others in setting
                        up new projects, especially in the initial stages, as
                        well as teaching and troubleshooting within communities.
                        For example, I provided consulting and mentorship on a
                        project involving C# and Vue to develop an application
                        aimed at selling agricultural products for local farmers
                      </p>
                    </div>
                    <a
                      class="btn btn-primary my-4"
                      href="https://github.com/mxntha/KasetMore"
                      >Go to Repository</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="border-t border-gray-300 my-4"></div>
      </div>
    </section>
  </main>
</Base>
